@keyframes pulse-glow {
  from {box-shadow: 0 0 0 0 rgba(255, 255, 255, 1)}
  45% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 1)}
  50% {box-shadow: 0 0 0 5px rgba(243, 200, 13, 1)}
  55% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 1)}
  to {box-shadow: 0 0 0 0 rgba(255, 255, 255, 1)}
}
.pasc {
  @media #{$max-tablet-width} {
    display: none !important;
  }
  @media #{$min-desktop-width} {
    text-align: center;
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse-glow  4s infinite ease-in-out;
  }
  &:hover {
    animation: pulse-glow  0s infinite ease-in-out;
    box-shadow: 0 0 0 5px rgba(243, 200, 13, 1);
    .pasc__content {
      display: block;
      position: absolute;
      background-color: rgba(255, 255, 255, 1);
      padding: 10px;
      border-radius: 13px;
    }
  }
  img {
    margin-top: 10px;
  }
}
.pasc__content {
  display: none;
}
.pasc--1 {
  @media #{$min-desktop-width} {
    left: 25%;
    top: 185%;
  }
  .pasc__content {
    width: 190px;
    left: -210px;
    top: 0;
    transform: translateY(-100%);
    &::after {
      position: absolute;
      content: "";
      right: -18px;
      bottom: 0;
      width: 26px;
      height: 26px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("/img/pasc-1-tri.png");
    }
  }
}
.pasc--2 {
  @media #{$min-desktop-width} {
    left: 25%;
    top: 40%;
  }
  .pasc__content {
    width: 275px;
    left: -310px;
    top: 50%;
    transform: translateY(-50%);
    &::after {
      position: absolute;
      content: "";
      right: -21px;
      top: 50%;
      transform: translateY(-50%);
      width: 21px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("/img/pasc-2-tri.png");
    }
  }
}
.pasc--3 {
  @media #{$min-desktop-width} {
    left: 25%;
    bottom: 20%;
  }
  .pasc__content {
    width: 300px;
    left: 0;
    bottom: 50px;
    transform: translateX(-50%);
  }
}