.question__wrapper {
  @include paddings;
  @include section-width;
  @include centers;
  @media #{$max-mobile-width} {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media #{$min-tablet-width} {
    padding-top: 56px;
    padding-bottom: 28px;
  }
  @media #{$min-desktop-width} {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}
.question__container {
  padding-left: 35px;
  padding-right: 35px;
  @media #{$max-mobile-width} {
    border-radius: 25px;
    padding-top: 35px;
    padding-bottom: 38px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c5a96+0,062a5c+100 */
    background: #2c5a96; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c5a96 0%, #062a5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2c5a96 0%,#062a5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2c5a96 0%,#062a5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5a96', endColorstr='#062a5c',GradientType=0 ); /* IE6-9 */
  }
  @media #{$min-tablet-width} {
    padding-top: 42px;
    padding-bottom: 60px;
    border-radius: 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5176a7+0,395e8f+100 */
    background: #5176a7; /* Old browsers */
    background: -moz-linear-gradient(top,  #5176a7 0%, #395e8f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5176a7 0%,#395e8f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5176a7 0%,#395e8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5176a7', endColorstr='#395e8f',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 4px 3px inset rgba(255, 255, 255, 0.3), 3px 3px 15px 0 rgba(0, 0, 0, .3);
  }
  @media #{$min-desktop-width} {
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.question__title {
  color: #fff;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  @media #{$max-mobile-width} {
    font-size: 22px;
  }
  @media #{$min-tablet-width} {
    font-size: 25px;
  }
  @media #{$min-desktop-width} {
    font-size: 36px;
  }
}
.question__subtitle {
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #fff;
    margin-top: 21px;
  }
  @media #{$min-desktop-width} {
    font-size: 30px;
    margin-top: 30px;
  }
}
.question__form {
  @media #{$max-mobile-width} {
    width: 210px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 588px;
    @include centers;
    margin-top: 28px;
  }
  @media #{$min-desktop-width} {
    width: 840px;
    margin-top: 40px;
  }
}
.question__input-container {
  @media #{$max-mobile-width} {
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media #{$min-desktop-width} {
    width: 240px;
  }
}
.question__input {
  @include form-input;
}
.question__submit-container {
  position: relative;
  @media #{$max-mobile-width} {
    width: 120px;
    margin-top: 34px;
    @include centers;
  }
  @media #{$min-tablet-width} {
    width: 30%;
  }
  @media #{$min-desktop-width} {
    width: 200px;
  }
  .confid {
    color: #fff;
    a {
      color: #f7b901;
    }
    @media #{$max-mobile-width} {
      margin-top: 10px;
    }
    @media #{$min-tablet-width} {
      position: absolute;
      left: 0;
      bottom: -45px
    }
    @media #{$min-desktop-width} {
      bottom: -35px;
    }
  }
}
.question__submit {
  @include main-btn--shadowed;
}